# versions of applications
export VERSION_K3S='v1.25.2+k3s1'
export VERSION_ARGO='v2.4.14'
export VERSION_HELM='v3.10.0'
export VERSION_KUBESEAL='0.18.0'

# user-configurable variables
export DOMAIN_NAME="test"
export ARGO="test"
export ARGO_DOMAIN=${ARGO}.${DOMAIN_NAME}
export EMAIL="test"
